<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Express-Dev-Skills-Lab</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
    <h1>Sports</h1>
    <ul>
        <% sports.forEach(function(t, idx) { %>
            <li>
                <a href="sports/<%=idx%>"><%= t.sport%></a>
              
            </li>
          <% }); %>
    </ul>
</body>
</html>